*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.name {
  text-transform: uppercase;
}

.container-main {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.card {
  display: flex;
  max-width: calc(90% / 6);
  justify-content: space-between;
  flex-flow: wrap;
  align-items: flex-start;
  margin: 1rem 1%;
}

.photo {
  width: 100%;
  height: 10rem;
  background-position: center;
  background-size: cover;
  margin-bottom: 0.1rem;
}

.p-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #204d74;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.6rem;
  text-decoration: none;
  border: #204d74 solid 0.1rem;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  color: #204d74;
  background-color: #fff;
  border: #204d74 solid 0.1rem;
}